.testingarea{
  color: #E7AB79;
  color: #B25068;
  color: #774360;
  color: #4C3A51;

  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Quicksand', sans-serif;
}
.navitem{
    display: flex;
  
  }
  #navbarmain{
    display: flex;
  }
  #navleftitem{
    display: flex;
    flex: 50;
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .navrightitems{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 20px;
    
  }
  .navrightitems:hover{
    color: bisque;
  }
  .cartnavitem{
  
  
  }
  .carticon{
    margin:  -3px 10px 0 10px;
  }
  .usericon{
    margin:  -3px 10px 0 10px;
  }
  
  
  
  .show{
    display:inline;
    flex-direction: row;
  
  }
  .hide{
    display: none;
    flex-direction: row;
  }
  #halfstar{
    font-size: .9rem;
    color: #f8e825;
  }
  #rate{
    color: #f8e825;
    font-size: 1.5rem;
    margin-left: -2px;
  }
  .homescreen{
    margin:  2vh 4.8vw;
  }
  .cardproduct{
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  .prod{
    display: flex;
    flex-direction: row;
    margin: 1vw;
    border: solid black 1px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 40px;
  }
  .prodcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  
    
  }
  .prodlink{
    text-decoration: none;
  }
  .cardprodtitle{
    text-decoration: none;
    color: black;
    height: 70px;

   
  }
  .cardrev{
    color: black;
  }
  #textprod{
    color: black;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
  }
  #prodpagebtnback{
    margin-left: 3vw;
    margin-top: 2vh;
  }
  .productpagedetail{
    display: flex;
    margin-top: 2vh;
  }
  .productpagedis{
    display: flex;
    flex-direction: column;
    
  }
  .productpage{
    margin:  2vh 5vh;
  }
  .productpageimage{
    width: 70vw;
    margin: 0 3vw;
    border: 1px solid black;
    padding: 10px;
  
  }
  .productpagedescription{
    font-size: 1.2rem;
  
  }
  .productpageprice{
    font-size: 2rem;
    font-weight: 500;
  
  }
  
    img {
      max-width: 100%;
      max-height: 100%;
  }
  .productpagebrand{
    font-weight: 700;
    font-size: 1.3;
  }
  .productpagetitle{
    font-size: 3rem;
    font-weight: 600;
    padding:  0 3vw;
  
  }
  @media (max-width:1000px) {
    .productpagedetail{
      display: flex;
      flex-direction: column;
      margin-top: 2vh;
    }
    .productpageimage{
      width: 50vw;
      margin: 2vw;
    
    }
    .productpagedis{
      margin-top: 20px;
      
    }
    
    
  }
  .productpagebutton{
    background-color: black;
    color: aliceblue;
    border: none;
    width: 160px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
  }
  #prodbuttonhide{
    background-color: gray;
  }
  .favbutton{
    border: black 1px solid;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    font-size: 1.3rem;

  }